!!! 5
html
    head
        script(src='./javascript/pouchdb-nightly.min.js')
        script(src='./javascript/pouch_couch_sync.js')
        script
             /*document.addEventListener('deviceready', onDeviceready,false);
             function onDeviceready(){*/
                if(localStorage.mob == undefined || localStorage.mob == null){
                    window.location.href = './index.html';
                }

                var db = new PouchDB('task_manager')
                dbReplication();

                db.query({map: "function(doc) { if(doc.type==\"task\"){if (doc.admin=="+localStorage.mob+" ) emit(doc.task_creation_time, doc);for(var i=0; i < doc.members.length;i++){if(doc.members[i]=="+localStorage.mob+") emit(doc.task_creation_time, doc);}}}"}, {reduce: false}, function(err, docs) {
                    showTableData(docs.rows);
                });

                function showTableData(data){
                    var div = document.getElementById("message");
                    var str = "";
                    for(var i=0; i<data.length;i++){
                        str+="<tr>"
                            str +="<td id='nc-task' align='left'><b><em>"+data[i].value.admin+"</em>&nbsp;&nbsp;:&nbsp;&nbsp;<a class='nc-task-link' href='chat.html?task_id="+data[i].id+"'>"+data[i].value.title+"</a></b></td></tr>";
                    }

                    div.innerHTML = str;
                }
             /*}

             onDeviceready()*/

    link(rel='stylesheet', href='./stylesheets/contacts.css')
    body(align='center')
        .header(align='center', style = 'background-color: pink')
            table(align='left')
                tr
                    td(style="float:left; background-color:#AA5577")
                        a(href="./app.html", style="padding:0px 10px 0px 10px") Refresh
            h2 Task Manager

        .mainBody(align='center')
            .content
                div#table-scroll
                    table#message(class='table-w-100', align='left',style = 'background-color: yellow')

        .footer(style = 'background-color: pink')
            a(href="newTask.html") Add Task

    script(type='text/javascript', charset='utf-8', src='cordova.js')
    script(type='text/javascript', charset='utf-8')
        function onDeviceReady() {
        var options = new ContactFindOptions();
        options.multiple = true;
        var fields = ["displayName", "name", "phoneNumbers"];
        navigator.contacts.find(fields, onSuccess, onError, options);
        }
            function onSuccess(contacts) {
           // alert('inside success')
            for (var i=0; i<contacts.length; i++) {
                for(var j=0; j<contacts[i].phoneNumbers.length; j++){
                    var num = contacts[i].phoneNumbers[j].value.replace(/\D/g,'');
                    num = num.substring(num.length - 10);
                   localStorage["_" + num]=contacts[i].displayName;
                }
            }
        }
        function onError(contactError) {
            alert('onError!'+ contactError);
        }
        document.addEventListener("deviceready", onDeviceReady, false);
