!!!
html
    head
        title Task Manager

        script
            if(localStorage.mob != null){
                window.location.href = './app.html';
            }
            function login(){
                  var mobno = window.document.loginForm.MobNo.value;
                  localStorage.mob = mobno;
                  window.location.href = './app.html';
            }
        link(rel='stylesheet', href='./stylesheets/contacts.css')
    body(align='center')
        .header(align="center")
            |Task Chat Manager
        .mainBody
            .content(align="center")
                form(method="POST", name="loginForm", onsubmit='login()')
                    table
                        tr
                            td
                                label Mobile no.
                                input(id="MobNo", type="text", name="MobNo",required="true")
                        tr
                            td
                                input(type='submit', value="Login")

