html
    head

        script(src = './javascript/pouchdb-nightly.min.js')
        script(src = './javascript/pouch_couch_sync.js')
        script(src = './javascript/uuidGenerator.js')
        script(type='text/javascript', charset='utf-8')
                var db = new PouchDB('task_manager');

                function clearField() {
                    window.document.title.value="";
                    window.location.href="app.html";
                }

                if(localStorage.mob === (null)) {
                    window.location.href='index.html';
                }
                function home(){
                    window.location.href="app.html";
                }

                function Contact(){
                     alert(localStorage.length)
                     var div = document.getElementById('message');
                     var str = "";
                        for(var i =0; i<localStorage.length; i++){
                            var key = localStorage.key(i);
                            if(/^_([0-9]{10})$/.test(key)){
                                var value = localStorage[key].toString();
                                var mobilenumber = key.toString().substring(key.length - 10);

                                str += "<tr><td><input type ='checkbox' name='memberList' value='"+ mobilenumber +"' class='memberList'>"+localStorage[key]+":"+ mobilenumber+"</input></td>></tr>";

                            }
                        }
                     div.innerHTML= str;
                     home();
                }

                function neww(){
                    var taskMembers = []

                    var title = document.getElementById('task_title').value;

                    for(var  i = 0; i<document.getElementsByClassName('memberList').length; i++){
                         if(document.getElementsByClassName('memberList')[i].checked){
                             taskMembers[taskMembers.length] = parseInt(document.getElementsByClassName('memberList')[i].value);
                         }
                    }
                    for(var i=0; i<taskMembers.length; i++){

                    }

                    var task = {
                        _id : "task_" + uuid(),
                        title : title,
                        admin : localStorage.mob,
                        members : taskMembers,
                        status : 'Not-Completed',
                        task_creation_time : (new Date()).toString(),
                        task_end_time : null,
                        type : "task"
                    };
                    db.post(task, function(err, res){
                       if(!err){
                            alert(res)
                            dbReplication();
                       }else{

                            console.log("error while adding task to database. . .!!" + err);
                       }
                    });
                }


        link(rel='stylesheet', href='./stylesheets/contacts.css')
    body(align="center")
        .header(align="center")
            |Task Manager
        .mainBody(align="center")

            form
                table(align="center")
                    tr
                        td(align='center', colspan=2)
                            label Add New Task
                    tr
                        td
                            table#message

                    tr
                        td(align='right')
                            label(id='label1') Task Title
                        td
                            input(type='text', id='task_title', name='task_title', required=true)
                            br

                        tr
                            td(align='center', colspan=2)
                                input(type='button', value='Add Members', onclick="Contact(),show()", id='addMember')
                                input(type='button', value='Back', onclick='home()')
                                input(type='button', onclick='neww()', value='Add task', id='addTask')
    script
        document.getElementById('addTask').style.visibility = "hidden";
        function show(){
                     var title = document.getElementById('task_title');
                     title.style.visibility = "hidden";
                     var member = document.getElementById('addMember');
                     member.style.visibility = "hidden";
                     var label1 = document.getElementById('label1');
                     label1.style.visibility = "hidden";
                     document.getElementById('addTask').style.visibility = "visible";
        }
