//
   Created by techno23 on 18/12/13.

!!!
html
    head
        title Add Task Members
    body
        a(href='newTask.html') back


    script(type='text/javascript', charset='utf-8', src='cordova.js')
    script(type='text/javascript', charset='utf-8')
        var div = document.getElementById('mesage');
        var str = "";

        for(var i =0; i<localStorage.length; i++){
             var key = localStorage.key(i);
             if(/^_[0-9]{10})$/.test(key)){
                 var value = localStorage[key].toString();
                 str += "<tr><td><input type ='checkbox' name='memberList' value= '"+key.toString().subString(1)+"'class='memberList'>"+localStorage[key]+":"+ key.toString().substring(1)+"</input></td>></tr>";
             }
        }
        div.innerHTML= str;
